<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="append.css">
    <title>Document</title>
</head>
<body>
    <div class="sect">
        <div class="left">          
            <div class="router">
                <h1>Newborn</h1>
                <ul>
                    <li>
                        <a href="">Обзор</a>
                    </li>
                    <li>
                        <a href="">Аналитика</a>
                    </li>
                    <li>
                        <a href="">История</a>
                    </li>
                    <li>
                        <a href="">Добавить заказ</a>
                    </li>
                    <li>
                        <a href="" style="background-color:white ; color: black; padding: 15px;">Ассортимент</a>
                    </li>
                </ul>
            <button>Выйти</button>
            </div>
        </div>
        <div class="center">
            <div class="top">
                <h1>Заказ > Добавить продукцию</h1>
                <div class="delete"></div>
            </div>
            <div class="content">
              <div class="info">
                <h3>Название</h3>
                <h3>Стоимсть</h3>
                <h3>Количество</h3>
                <div class="delete">Добавлено</div>

              </div>
            </div>
        </div>
    </div>
</body>
</html>